./venv/*
__pycache__/
develop/*
app/__pycache__/*
helper/__pycache__/*
./app/__pycache__/*
app/routers/__pycache__/*
app/dalle_3/fonts
app/fotor/
app/dalle_3/images_gpt
./app/routers/__pycache__/*
./yandex/__pycache__/*
yandex/__pycache__/*
/yandex/__pycache__/*
core/*
test_deploy/*
tensorboard/*
totorial/*
db/*
data_origin/*
uploads/*
data_copy/*
actions/price/__pycache_*
venv/*
audio_pre_proccess/*
__pycache__/*
.env
.env.prod
.DS_Store
.idea

